body {
  font-family: "sans-serif";
  background-color: lightgray;
}

#letter {
  border-width: 0px;
  width: 200px;
  height:200px;
  border-color: lightgray;
  font-size: 100px;
  background-color: lightgray;
  border-bottom-width: 10px;
}

.button {
  width: 50px;
  height: 50px;
  width: 32%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 10px;
}
